/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del cuerpo */
body {
    font-family: "Open Sans", sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Revisa esto */
}
h1{
    text-align: center;
}

/* Header */
.header {
    background-color: #73bd3e;
    padding: 8px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 80px;
    display: flex; /* Añadir flex al header */
    position: fixed;
    align-items: center; /* Centrar verticalmente */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100; /* Asegura que el header esté encima de otros elementos */
}

.nav {
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: 100%; /* Asegurar que el nav ocupe todo el ancho disponible */
}

/* Lista de navegación */
.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}

/* Links de navegación */
.nav-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 8px 12px;
    transition: 0.3s;
}

.nav-list {
    gap: 10px; /* Reducir el espacio entre los elementos */
}

.nav-link, .logout-button {
    font-size: 14px; /* Reducir tamaño de fuente */
    padding: 6px 10px; /* Reducir padding de los elementos */
}

.logout-button:hover {
    color: #c9302c;
}

/* Contenido principal */
.main-content {
    flex: 1;
    padding: 20px;
    max-width: 1200px; /* Aumenta el ancho máximo para que los gráficos tengan más espacio */
    margin: auto;
    padding-top: 100px;
    width: 100%; /* Permite que los gráficos ocupen el ancho disponible */
}
/* Footer */
.footer {
    background-color: #73bd3e;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}


.user-menu {
    position: relative;
    cursor: pointer;
    margin-left: auto;
}

.user-icon {
    font-size: 35px;
    
}

.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
    min-width: 150px;
    padding: 10px;
    z-index: 1000;
}

.user-info {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
}

.user-menu.active .dropdown {
    display: block;
}