/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pink: #126a1a;
}

::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background-color: #73bd3e; /* Color de la "manija" de desplazamiento */
    /*border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color del "riel" de desplazamiento */
}

/* Efecto hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #199123; 
}

/* Estilos del cuerpo */
body {
    font-family: "Open Sans", sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: center;
}

/* Header */
.header {
    background-color: #73bd3e;
    padding: 8px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 80px;
    display: flex;
    /* Añadir flex al header */
    position: fixed;
    align-items: center;
    /* Centrar verticalmente */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    /* Asegura que el header esté encima de otros elementos */
}

.nav {
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: 100%;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.nav-link,
.logout-button {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 6px 10px;
    font-size: 14px;
    position: relative;
    transition: all ease-in-out 250ms;
}

.nav-link::after,
.logout-button::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.4em;
    width: 0%;
    background-color: var(--pink);
    bottom: -1em;
    transition: all ease-in-out 250ms;
}

.nav-link:hover::after,
.logout-button:hover::after {
    width: 90%;
}

.nav-link:hover,
.logout-button:hover {
    color: var(--pink);
    transform: scale(1.1);
    /* Agrega un ligero aumento de tamaño */
}

#logo{
    width: 80px; 
    height: 80px;
    margin-right: 10px;
}

.logout-button:hover {
    color: #ffffff;
}

.main-content {
    flex: 1;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
    width: 100%;
}

.footer {
    background-color: #73bd3e;
    color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.user-menu {
    position: relative;
    cursor: pointer;
    margin-left: auto;
}

.user-icon {
    font-size: 35px;
    color: #fff;
    transition: all ease-in-out 250ms;
}

.user-icon:hover {
    color: var(--pink);
    transform: scale(1.1);
    /* Agrega un ligero aumento de tamaño */
}

.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
    min-width: 150px;
    padding: 10px;
    z-index: 1000;
}

.user-info {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
}

.user-menu.active .dropdown {
    display: block;
}

