/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ffffffa2;
    color: #fff;
    text-align: center;
}

.container {
    background: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    color: black;
}

h1 {
    font-size: 24px;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    background: #73bd3eca;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s;
}

.cta-button:hover {
    background: #1c8b0f;
}

.auth-links {
    margin-top: 15px;
}

.auth-links a {
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
    transition: color 0.3s;
}

.auth-links a:hover {
    color: #1c8b0f;
}